In [ ]:
import pandas as pd

In [3]:
! pip install pyreadr

Defaulting to user installation because normal site-packages is not writeable
Collecting pyreadr
  Downloading pyreadr-0.5.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.4 kB)
Requirement already satisfied: pandas>=1.2.0 in /home/ishanu/.local/lib/python3.12/site-packages (from pyreadr) (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/lib64/python3.12/site-packages (from pandas>=1.2.0->pyreadr) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadr) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ishanu/.local/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadr) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/ishanu/.local/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadr) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadr) (1.16.0)
Downloading pyreadr-0.5.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (418 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 418.3/418.3 kB 1.6 MB/s eta 0:00:00 MB/s eta 0:00:01:01m
Installing collected packages: pyreadr
Successfully installed pyreadr-0.5.3

In [4]:
import pandas as pd
import pyreadr

# .rds typically stores a single object; grab the first/only value
res = pyreadr.read_r("../../data/synthetic_datasets/synthetic_dataset_01.rds")
obj = next(iter(res.values()))

# If it's a data.frame/tibble, this is a pandas DataFrame already
if isinstance(obj, pd.DataFrame):
    df = obj
else:
    # .rds can hold other objects (vector, list); convert as needed
    # Example: turn an R vector into a DataFrame
    df = pd.DataFrame(obj)

print(df.head())

   rage  female  black  hisp  SCHLYRS  vdori   vdlfl1z  vdlfl2  vdlfl3  \
0  86.0     0.0    0.0   0.0     16.0    4.0  0.068226     2.0     2.0
1  72.0     1.0    0.0   0.0     12.0    4.0  0.204575     2.0     2.0
2  76.0     0.0    0.0   1.0     13.0    4.0  0.227300     2.0     2.0
3  73.0     0.0    0.0   0.0     17.0    4.0  0.204575     2.0     2.0
4  90.0     0.0    0.0   1.0      9.0    NaN       NaN     NaN     NaN

   vdwdimmz  vdwddelz   vdexf7z  vdsevens  vdcount        group
0  0.300043  0.000127  0.731376       5.0      1.0  Synthesized
1  0.799936  0.699949  0.525708       5.0      1.0  Synthesized
2  0.699957  0.699949  0.679959       5.0      1.0  Synthesized
3  0.699957  0.599975  0.725663       5.0      1.0  Synthesized
4       NaN       NaN       NaN       NaN      NaN  Synthesized

In [5]:
df

,rage,female,black,hisp,SCHLYRS,vdori,vdlfl1z,vdlfl2,vdlfl3,vdwdimmz,vdwddelz,vdexf7z,vdsevens,vdcount,group
0,86.0,0.0,0.0,0.0,16.0,4.0,0.068226,2.0,2.0,0.300043,0.000127,0.731376,5.0,1.0,Synthesized
1,72.0,1.0,0.0,0.0,12.0,4.0,0.204575,2.0,2.0,0.799936,0.699949,0.525708,5.0,1.0,Synthesized
2,76.0,0.0,0.0,1.0,13.0,4.0,0.227300,2.0,2.0,0.699957,0.699949,0.679959,5.0,1.0,Synthesized
3,73.0,0.0,0.0,0.0,17.0,4.0,0.204575,2.0,2.0,0.699957,0.599975,0.725663,5.0,1.0,Synthesized
4,90.0,0.0,0.0,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Synthesized
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9758,87.0,1.0,0.0,0.0,14.0,3.0,0.079588,2.0,1.0,0.300043,0.300051,0.657107,1.0,1.0,Synthesized
9759,79.0,1.0,0.0,0.0,16.0,4.0,0.090951,2.0,2.0,0.699957,0.799924,0.628542,2.0,1.0,Synthesized
9760,73.0,1.0,0.0,0.0,13.0,4.0,0.147763,1.0,1.0,0.599979,0.400025,NaN,3.0,1.0,Synthesized
9761,85.0,0.0,0.0,0.0,12.0,3.0,0.147763,2.0,2.0,0.400021,0.100102,NaN,0.0,1.0,Synthesized
9762,69.0,1.0,0.0,0.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Synthesized